@import "tailwindcss";

@theme {
  --color-accent: #6C3FC5;
  --color-duppy-dark: #0A0A0A;
  --color-duppy-quote: #111111;
  --color-duppy-card-dark: #1A1A1A;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
